body{
    margin: 0;
    padding: 0;
    font-size: 11pt;
    font-family: "Georgia";
    background-image: url("/images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
    padding: 10px;
}

.title {
    font-family: "sans-serif";
    padding: 2px;
    color: #A4A400;
    font-size: 18pt;
    text-decoration: underline;
    background-color: #F0F0F0;
}


#title-top {
    font-family: "Lucida Sans Unicode";
    font-size: 22pt;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.25em;
}


.abbr {
    cursor: help;
    text-decoration: underline;
}

ul {
    list-style-image: url("/images/pie_icon.gif");
}

footer a {
    color: #A4A400;
}
footer img {
    width: 100px;
    margin: 10px;
}

footer ul {
    margin: 0;
    text-align: end;
}
footer li {
    display: inline;
}
footer li a {
    display: inline-block;
}

pre{
    text-align: right;
}
.line-through{
    text-decoration: line-through;
}

.user-cmt {
    font-style: italic;
    background: #FFFFA8;
    margin: 1rem 3rem;
}