.header {
    background-image: url("/images/banner3.png");
    padding: 30px;
    text-align: left;
    height: 130px;
    font-family: 'Franklin Gothic Medium';
   
}

body{
    background-color: #f3f3f3;
    min-height: 300px;
    margin: 0; 
    /* padding: 60px; */
}

main{
    margin: 0 60px;
}


.headerText {
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 20px;
    /* padding-top: 75px; */
    text-align: center;
    height: 130px;
}
.titleText{
    font-size: 60px;}

.header img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
}
footer {
    background-color: #333;
    color: #fff;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    min-height: 70px;
    
}


.about{
    padding-top: 20px;
    font-size: 17px;
}

.column img{
    width: 350px;
}

  a:hover {
    color: red;
}

p::first-letter {
    font-size: 1.5em;
  }

  dt{
    color: orange;
  }

  .leftFloat{
    float: left;
    margin-right: 20px;
  }

  .keyword{
    color: orange;
  }

  .column img{
       width: 400px;
       height: 300px; 
  }
  .img-small{
    height: 30px;
  }